Определить и реализовать минимум 10 моделей в соответствии с предметной областью
Реализовать механизмы авторизации/аутентификации с помощью логина/пароля и через аккаунт Google
Для авторизованного пользователя реализовать CRUD (create, read, update, delete) операции и возможность поиска, сортировки записей 
Для неавторизованного пользователя обеспечить только просмотр, поиск, сортировку и авторизацию;
Обеспечить наполнение данными для демонстрации не менее 10 записей в списке товаров/услуг/объектов/клиентов.
Минимум 3 страницы 
Приемлемый внешний вид
Валидация форм как на стороне сервера, так и на стороне клиента;
Ограничить использование API проекта для неавторизованных запросов.

